<html>
<head>
<title>
News Site | OfflineServer Templates
</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="index.css">
</head>
<body>
<header><center>
<h1>News Blog Topic</h1>
<a href="javascript:void(0)">Home</a>
<span class="spacing">&nbsp;</span>
<a href="javascript:void(0)">Popular</a>
<span class="spacing">&nbsp;</span>
<a href="javascript:void(0)">Recent</a>
<span class="spacing">&nbsp;</span>
<a href="javascript:void(0)">My Account</a>
<span class="spacing">&nbsp;</span>
<a href="javascript:void(0)">Search</a>
</center></header>
<iframe id="watermark-offlineserver" style="height: 10vh; width: 100%; border: none;" src=""></iframe><script>document.querySelector("#watermark-offlineserver").src = window.location.origin + "/watermarks/regular.html";</script>
<h1>Welcome, John Doe</h1>
<p>You are currently in the Home Page</p>
<div class="newsArticles">
<article>
<img src="./img1.jpg">
<h3>Article #1</h3>
<p>Lorem ipsum dolor sit amet... This template is made by OfflineServer, so this is not really a interactive website.</p>
</article>
<article>
<img src="./img2.jpg">
<h3>Article #2</h3>
<p>Lorem ipsum dolor sit amet... This template is made by OfflineServer, so this is not really a interactive website.</p>
</article>
<article>
<img src="./img3.jpg">
<h3>Article #3</h3>
<p>Lorem ipsum dolor sit amet... This template is made by OfflineServer, so this is not really a interactive website.</p>
</article>
<article>
<img src="./img4.jpg">
<h3>Article #4</h3>
<p>Lorem ipsum dolor sit amet... This template is made by OfflineServer, so this is not really a interactive website.</p>
</article>
<article>
<img src="./img5.jpg">
<h3>Article #5</h3>
<p>Lorem ipsum dolor sit amet... This template is made by OfflineServer, so this is not really a interactive website.</p>
</article>
<article>
<img src="./img6.jpg">
<h3>Article #6</h3>
<p>Lorem ipsum dolor sit amet... This template is made by OfflineServer, so this is not really a interactive website.</p>
</article>
</div>
<hr>
<center>
<h2>Want more?</h2>
<button>Load More</button>
<br>
<br>
<br>
<br>
<br>
<small>Made by OfflineServer. This is not a interactive website, this is a template.</small>
</center>
<script src="scripts.js"></script>
</body>
</html>