<html>
<head>
<title>
Personal Site | OfflineServer Templates
</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="index.css">
</head>
<body>
<header><center>
<p>About</p>
<h1>John Doe</h1>
<a href="javascript:void(0)">Home</a>
<span class="spacing">&nbsp;</span>
<a href="javascript:void(0)">About</a>
<span class="spacing">&nbsp;</span>
<a href="javascript:void(0)">Search</a>
</center></header>
<iframe id="watermark-offlineserver" style="height: 10vh; width: 100%; border: none;" src=""></iframe><script>document.querySelector("#watermark-offlineserver").src = window.location.origin + "/watermarks/regular.html";</script>
<h2>About John Doe</h2>
<p>Hi, I am John Doe. I love OfflineServer and I love me saying Lorem ipsum dolor sit amet.. Look at this news picture I found!</p>
<img height="300" width="450" src="./img1.jpg" style="border-radius: 5px;">
<br>
<p>Isn't that cool!? But, you should try OfflineServer's Templates and their new feature: Tips and Tricks! It gives you ideas of your website!</p>
<br>
<p>If I didn't notice this feature, then you wouldn't see this page!</p>
<br>
<br>
<p>Goodbye, everyone!!!</p>
<!-- Keep this content -->
<br>
<br>
<br>
<br>
<br>
<small>Made by OfflineServer. This is not a interactive website, this is a template.</small>
</center>
<script src="scripts.js"></script>
</body>
</html>